*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E0F3F4;
}
:root{
    --fuente: 'Inter', sans-serif;
    --color-principal: darkblue;
}
/* diseño laptop */
@media (min-width: 1024px){

/*? encabezado */
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #logo{
        padding-left: 1.5vw;
        width: 2vw;
        height: 6vh;
    }
    #volver-inicio{
        font-family: var(--fuente);
        color: var(--color-principal);
        margin-right: 3rem;
        font-size: 2rem;
        padding: 10px;
        border-radius: 10px;
        border: none;
        visibility: hidden;
    }
/* fin encabezado */

main{
    height: 85vh;
}

/*? pagina de inicio */
#pagina-inicio{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;   
}
    /* zona de botones en pagina inicial */
    .boton{
        border-radius: 1em;
        border: 6px solid var(--color-principal);
        font-family: var(--fuente);
        font-size: 3rem;
    }
    /* boton iniciar juego */
    .iniciar{
        background-color: var(--color-principal);
        width: 35vw;
        height: 20vh;
        color: white;
    }
    /* boton agregar nueva palabra */
    .agregar{
        font-size: 2rem;
        background-color: transparent;
        color: var(--color-principal);
        width: 25vw;
        height: 15vh;
    }
/* fin pagina de inicio */

/* ? pagina donde se agrega una nueva palabra  */
#pagina-agregar-palabra{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    display: none;
}   
    /* textarea para cargar nueva palabra */
    #nueva-palabra{
        height: 50%;
        width: 50%;
        font-size: 4rem;
        resize: none;
        outline: none;
        color: var(--color-principal);
        font-weight: 500;
        border: none;
    }
    /* zona mensaje de advertencia */
    #zona-advertencia{
        width: 50%;
        display: flex;
        justify-content: start;
        gap: .7rem;
        align-items: center;
    }
        #img-advertencia{
            width: 2.5rem;
            height: 2.5rem;
        }
        #mensaje{
            font-family: var(--fuente);
            font-size: 2rem;
        }
    /* zona de botones*/
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        font-size: 1rem;
    }
        /* boton guardar */
        .guardar{
            width: 25vw;
            height: 13vh;
            background-color: var(--color-principal);
            color: white;
        }
        /* boton cancelar */
        .cancelar{
            width: 25vw;
            height: 13vh;
            color: var(--color-principal);
        }
/* fin pagina donde se agrega una nueva palabra */

.boton:hover{
    box-shadow: 6px 6px black;
    animation-duration: 500ms;
}

.boton:active, .social:active{
    scale: 1.1;
    animation-duration: 700ms;
}

/*? pagina donde se desarrolla el juego */
#pagina-juego{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    display: none;
}
    /* zona de muñeco ahorcado */
    .muneco{
        height: 55vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* canvas del muñeco */
        #canvas{
            width: 80%;
            height: 100%;
        }
    /* zona que muestra palabra a adivinar */
    .palabra{
        height: 10vh;
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
        /* estilo de cada div por cada letra de la palabra aleatoria */
        .letra{
            font-family: var(--fuente);
            width: 5rem;
            height: 70%;
            font-size: 5rem;
            border-bottom: 7px solid black;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    /* zona muestra letras incorrectas */
    .letras-incorrectas{
        font-size: 3rem;
        font-family: var(--fuente);
        text-transform: uppercase;
        padding-bottom: 2vh;
        letter-spacing: 1rem;
        text-align: center;
        color: rgba(191, 15, 15, 0.646);
    }
    /* botones */
    .nuevo-juego{
        width: 25vw;
        height: 11vh;
        background-color: var(--color-principal);
        color: white;
    }
    .desistir{
        width: 25vw;
        height: 11vh;
        color: var(--color-principal);
    }

footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    font-size: 2rem;
    font-family: var(--fuente);
}

    .social{
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
}


/* diseño movil */
@media (max-width: 767px){
    #teclado{
        height: 20vh;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(3, 35px);
        justify-content: center;
        align-content: center;
        text-align: center;
        align-self: center;
        gap: 6px 6px;
    }
    .tecla{
        border-radius: 8px;
        border: 2px solid darkblue;
        font-family: var(--fuente);
        font-weight: 500;
        font-size: 1.2rem;
        background-color: rgb(170, 222, 235);
        font-weight: 700;
    }
    /* item n21 */
    .item{
        grid-column: 2/3;
    }

    /*? encabezado */
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #logo{
        padding-left: 1rem;
        width: 7vw;
        height: 7vh;
    }
    #volver-inicio{
        font-family: var(--fuente);
        color: var(--color-principal);
        margin-right: 1rem;
        font-size: 1.4rem;
        padding: 10px;
        border-radius: 10px;
        border: none;
        visibility: hidden;
    }
/* fin encabezado */

main{
    height: 85vh;
}

/*? pagina de inicio */
#pagina-inicio{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;   
}
    /* zona de botones en pagina inicial */
    .boton{
        border-radius: 1rem;
        border: 2px solid var(--color-principal);
        font-family: var(--fuente);
        font-size: 1.4rem;
    }
    /* boton iniciar juego */
    .iniciar{
        background-color: var(--color-principal);
        width: 50vw;
        height: 10vh;
        color: white;
    }
    /* boton agregar nueva palabra */
    .agregar{
        font-size: 1rem;
        background-color: transparent;
        color: var(--color-principal);
        width: 45vw;
        height: 10vh;
    }
/* fin pagina de inicio */

/* ? pagina donde se agrega una nueva palabra  */
#pagina-agregar-palabra{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    display: none;
}   
    /* textarea para cargar nueva palabra */
    #nueva-palabra{
        height: 30%;
        width: 70%;
        font-size: 1.5rem;
        resize: none;
        outline: none;
        color: var(--color-principal);
        font-weight: 500;
        border: none;
    }
    /* zona mensaje de advertencia */
    #zona-advertencia{
        width: 70%;
        display: flex;
        justify-content: start;
        gap: .7rem;
        align-items: center;
    }
        #img-advertencia{
            width: 1.5rem;
            height: 1.5rem;
        }
        #mensaje{
            font-family: var(--fuente);
            font-size: 1rem;
        }
    /* zona de botones*/
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        font-size: 1rem;
    }
        /* boton guardar */
        .guardar{
            width: 43vw;
            height: 10vh;
            background-color: var(--color-principal);
            color: white;
        }
        /* boton cancelar */
        .cancelar{
            width: 43vw;
            height: 10vh;
            color: var(--color-principal);
        }
/* fin pagina donde se agrega una nueva palabra */

.boton:hover{
    box-shadow: 4px 4px black;
    animation-duration: 500ms;
}

.boton:active, .social:active{
    scale: 1.05;
    animation-duration: 700ms;
}

/*? pagina donde se desarrolla el juego */
#pagina-juego{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    display: none;
}
    /* zona de muñeco ahorcado */
    .muneco{
        height: 35vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* canvas del muñeco */
        #canvas{
            width: 80%;
            height: 100%;
        }
    /* zona que muestra palabra a adivinar */
    .palabra{
        height: 5vh;
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
        /* estilo de cada div por cada letra de la palabra aleatoria */
        .letra{
            font-family: var(--fuente);
            width: 2rem;
            height: 70%;
            font-size: 2rem;
            border-bottom: 3px solid black;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
    /* zona muestra letras incorrectas */
    .letras-incorrectas{
        display: none;
    }
    /* botones */
    .nuevo-juego{
        width: 40vw;
        height: 8vh;
        background-color: var(--color-principal);
        color: white;
    }
    .desistir{
        width: 40vw;
        height: 8vh;
        color: var(--color-principal);
    }
/* pie de pagina */
footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    font-size: 1rem;
    font-family: var(--fuente);
}
    /* imagenes de redes sociales */
    .social{
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
}


/* diseño tablet */
@media (min-width: 768px) and (max-width: 1023px){
    #teclado{
        height: 30vh;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(10, 65px);
        grid-template-rows: repeat(3, 75px);
        justify-content: center;
        align-content: center;
        text-align: center;
        align-self: center;
        gap: 13px 13px;
    }
    .tecla{
        border-radius: 8px;
        border: 2px solid darkblue;
        font-family: var(--fuente);
        font-weight: 700;
        font-size: 2rem;
        background-color: lightgray;
    }
    /* item n21 */
    .item{
        grid-column: 2/3;
    }    
    /*? encabezado */
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #logo{
        padding-left: 2rem;
        width: 6vw;
        height: 6vh;
    }
    #volver-inicio{
        font-family: var(--fuente);
        color: var(--color-principal);
        margin-right: 2rem;
        font-size: 1.8rem;
        padding: 18px;
        border-radius: 10px;
        border: none;
        visibility: hidden;
    }
/* fin encabezado */

main{
    height: 85vh;
}

/*? pagina de inicio */
#pagina-inicio{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;   
}
    /* zona de botones en pagina inicial */
    .boton{
        border-radius: 1rem;
        border: 2px solid var(--color-principal);
        font-family: var(--fuente);
        font-size: 2rem;
    }
    /* boton iniciar juego */
    .iniciar{
        background-color: var(--color-principal);
        width: 50vw;
        height: 10vh;
        color: white;
    }
    /* boton agregar nueva palabra */
    .agregar{
        font-size: 1.7rem;
        background-color: transparent;
        color: var(--color-principal);
        width: 45vw;
        height: 10vh;
    }
/* fin pagina de inicio */

/* ? pagina donde se agrega una nueva palabra  */
#pagina-agregar-palabra{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    display: none;
}   
    /* textarea para cargar nueva palabra */
    #nueva-palabra{
        height: 30%;
        width: 80%;
        font-size: 2rem;
        resize: none;
        outline: none;
        color: var(--color-principal);
        font-weight: 500;
        border: none;
        font-family: var(--fuente);
    }
    /* zona mensaje de advertencia */
    #zona-advertencia{
        width: 80%;
        display: flex;
        justify-content: start;
        gap: 1rem;
        align-items: center;
    }
        #img-advertencia{
            width: 2rem;
            height: 2rem;
        }
        #mensaje{
            font-family: var(--fuente);
            font-size: 1.8rem;
        }
    /* zona de botones*/
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        font-size: 1rem;
    }
        /* boton guardar */
        .guardar{
            width: 40vw;
            height: 9vh;
            background-color: var(--color-principal);
            color: white;
        }
        /* boton cancelar */
        .cancelar{
            width: 40vw;
            height: 9vh;
            color: var(--color-principal);
        }
/* fin pagina donde se agrega una nueva palabra */

.boton:hover{
    box-shadow: 4px 4px black;
    animation-duration: 500ms;
}

.boton:active, .social:active{
    scale: 1.05;
    animation-duration: 700ms;
}

/*? pagina donde se desarrolla el juego */
#pagina-juego{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    display: none;
}
    /* zona de muñeco ahorcado */
    .muneco{
        height: 35vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* canvas del muñeco */
        #canvas{
            width: 80%;
            height: 100%;
        }
    /* zona que muestra palabra a adivinar */
    .palabra{
        height: 5vh;
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
        /* estilo de cada div por cada letra de la palabra aleatoria */
        .letra{
            font-family: var(--fuente);
            width: 3rem;
            height: 70%;
            font-size: 3.5rem;
            border-bottom: 5px solid black;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
    /* zona muestra letras incorrectas */
    .letras-incorrectas{
        display: none;
    }
    /* botones */
    .nuevo-juego{
        width: 40vw;
        height: 8vh;
        background-color: var(--color-principal);
        color: white;
    }
    .desistir{
        width: 40vw;
        height: 8vh;
        color: var(--color-principal);
    }
/* pie de pagina */
footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    font-size: 1.8rem;
    font-family: var(--fuente);
}
    /* imagenes de redes sociales */
    .social{
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
}

