*{
    padding: 0;
    margin: 0;
}

:root{
    --fuente: 'Inter', sans-serif;
    --color-principal: darkblue;
}

/*? encabezado */
header{
    height: 10vh;
    display: flex;
    align-items: center;
}
    #logo{
        padding-left: 1.5vw;
        width: 2vw;
        height: 6vh;
    }
/* fin encabezado */

main{
    height: 85vh;
}

/*? pagina de inicio */
#pagina-inicio{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;   
}
    /* zona de botones en pagina inicial */
    .boton{
        border-radius: 1em;
        border: 6px solid var(--color-principal);
        font-family: var(--fuente);
        font-size: 3rem;
    }
    /* boton iniciar juego */
    .iniciar{
        background-color: var(--color-principal);
        width: 35vw;
        height: 20vh;
        color: white;
    }
    /* boton agregar nueva palabra */
    .agregar{
        font-size: 2rem;
        background-color: transparent;
        color: var(--color-principal);
        width: 25vw;
        height: 15vh;
    }
/* fin pagina de inicio */

/* ? pagina donde se agrega una nueva palabra  */
#pagina-agregar-palabra{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    display: none;
}   
    /* textarea para cargar nueva palabra */
    #nueva-palabra{
        height: 50%;
        width: 50%;
        font-size: 4rem;
        resize: none;
        outline: none;
        color: var(--color-principal);
        font-weight: 500;
        border: none;
    }
    /* zona mensaje de advertencia */
    #zona-advertencia{
        width: 50%;
        display: flex;
        justify-content: start;
        gap: .7rem;
        align-items: center;
    }
        #img-advertencia{
            width: 2.5rem;
            height: 2.5rem;
        }
        #mensaje{
            font-family: var(--fuente);
            font-size: 2rem;
        }
    /* zona de botones*/
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        font-size: 1rem;
    }
        /* boton guardar */
        .guardar{
            width: 25vw;
            height: 13vh;
            background-color: var(--color-principal);
            color: white;
        }
        /* boton cancelar */
        .cancelar{
            width: 25vw;
            height: 13vh;
            color: var(--color-principal);
        }
/* fin pagina donde se agrega una nueva palabra */

.boton:hover{
    box-shadow: 6px 6px black;
    animation-duration: 500ms;
}

.boton:active{
    scale: 1.1;
    animation-duration: 700ms;
}

/*? pagina donde se desarrolla el juego */
#pagina-juego{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    display: none;
}
    /* zona de muñeco ahorcado */
    .muneco{
        height: 55vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* canvas del muñeco */
        #canvas{
            width: 80%;
            height: 100%;
        }
    /* zona que muestra palabra a adivinar */
    .palabra{
        height: 10vh;
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
        /* estilo de cada div por cada letra de la palabra aleatoria */
        .letra{
            font-family: var(--fuente);
            width: 5rem;
            height: 70%;
            font-size: 5rem;
            border-bottom: 7px solid black;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    /* zona muestra letras incorrectas */
    .letras-incorrectas{
        font-size: 3rem;
        font-family: var(--fuente);
        text-transform: uppercase;
        padding-bottom: 2vh;
        letter-spacing: 1rem;
        text-align: center;
        color: rgba(191, 15, 15, 0.646);
    }
    /* botones */
    .nuevo-juego{
        width: 25vw;
        height: 11vh;
        background-color: var(--color-principal);
        color: white;
    }
    .desistir{
        width: 25vw;
        height: 11vh;
        color: var(--color-principal);
    }

footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    font-size: 2rem;
    font-family: var(--fuente);
}

    .social{
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }

